:root {
  --buttonColor: #3ccb7e;
  --buttonColorHover: #5ae399;
}

#container {
  position: relative;
  margin: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px;
  /*transition: height 0.2s, width 0.2s;*/
}
#container:hover {
  cursor: pointer;
}

#buttons {
  background-color: #212121;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--buttonColor);
  text-align: left;
  font-family: calibri;
  font-size: 16px;
  padding: 10px;
  margin: 0;
  border-radius: 0 0 0 5px;
  box-shadow: 5px 5px 5px black;
}

button {
  background-color: var(--buttonColor);
  color: black;
  cursor: pointer;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
}
button:focus {
  outline:0;
}
button:hover {
  background-color: var(--buttonColorHover);
}

#speedSet, #rotationSet {
  display: block;
  text-align: right;
}
#changeRotation {
  display: block;
  text-align: center;
}

body {
  margin: 0;
}

#butt {
  top: 1;
  left: 120;
}
