
#container{
  position: relative;;
  border: 1px solid black;
  box-shadow: 5px 5px 5px;
  transition: height 1s, width 1s;
}
#container:hover
{
  cursor: pointer;
}

#buttons{
  position: absolute;
  top: 20;
  right:20;
  font-family: calibri;
}

#butt
{
  top: 1;
  left: 120;
}
